.cart-container {
    width: 50%;
    margin: 2rem auto;
}

.cart-container h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}
.cart-header{
    align-items: baseline;
    justify-content: space-between;
    padding: 0 0 1rem;
}

#cart-count-1{
    font-weight: 500;
}
#cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
    padding: 1rem;
    background: white;
    position: relative;
}

.cart-item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 1.2rem;
}

.cart-info h4 {
    margin: 0;
    font-size: 1.2rem;
}

.cart-info .description{
    font-size: 16px;
    text-align: left !important;
    margin: 1rem 0;
}

.cart-info .price {
    margin-top: 1rem !important;
    font-weight: 700;
    color: #010101;
    font-size: 1.2rem;
    margin-top:auto;
}

.cart-summary {
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid #ddd;
    text-align: right;
}

.cart-summary h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.star-icon{
    font-size: 14px;
}

.remove-btn{
    all:unset;
    color: rgb(181, 29, 29);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

@media only screen and (max-width:720px){
    .cart-container{
        width: auto;
        padding: 0 1rem;
    }
    .cart-item{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}