.product-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    width: 90%;
    margin: 1rem 4rem;
    font-family: "DM Sans", sans-serif;
}

/* Left Side */
.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    height: 360px;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 1rem;
    border: 1px solid #ddd;
    background: #fff;
    box-sizing: border-box;
}

/* Thumbnails */
.thumbs {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.thumb {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.thumb.active,
.thumb:hover {
    opacity: 1;
    border: 2px solid black;
}

.arrow {
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
    color: #333;
}

/* Right Side */
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}


 .breadcrumbs {
    color: #555;
    font-size: 14px;
    width: 360px;
}

.product-info h2 {
    font-size: 26px;
    margin-bottom: 0.5rem;
}

.price-wrap {
    margin: 0.8rem 0;
    font-size: 22px !important;
}

.price {
    
    font-weight: 700;
    margin-right: 10px;
}

.old-price {
    color: #999;
    text-decoration: line-through;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stars {
    color: #ff9b00;
    font-size: 22px;
}

.reviews {
    color: #666;
    font-size: 14px;
}

.description {
    margin: 2rem;
    color: #444;
    max-width: 480px;
    text-align: center;
}

.actions {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.actions button{
    width: 180px;
}

.btn-outline {
    padding: 0.5rem 2rem;
    border: 2px solid gray;
    background: none;
    cursor: pointer;
    font-weight: 500;
    color: #222;
}

.btn-outline:hover{
    background: rgb(7, 7, 7);
    color: white;
}

.btn-dark {
    padding: 10px 20px;
    background: black;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.btn-dark:hover{
    background: rgb(34, 34, 34);
}

.wishlist {
    margin-top: 1rem;
    cursor: pointer;
    color: #444;
    font-size: 15px;
}

.share {
    margin-top: 1.5rem;
    color: #444;
}

.share i {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
